modules = ["python-base-3.13"]
[nix]
channel = "stable-25_05"
packages = ["nasm", "xorriso", "grub2", "qemu", "gcc_multi"]

[agent]
expertMode = true

[[ports]]
localPort = 5909
externalPort = 80

[[ports]]
localPort = 5910
externalPort = 3000

[[ports]]
localPort = 5911
externalPort = 3001
